{% extends "components/base.html" %}

{% block main %}

<div align="center">
    <table class="Homee">
        <caption class="capTiOn" align="left">На сайте есть:</caption>
        <tr class="homeCell">
            <th class="homeCell">
                Авторизация..
            </th>
            <th class="homeCell">
                Cистема Публикаций..
            </th>
            <th class="homeCell">
                Использование Tailwind..
            </th>
        </tr>
        <tr class="homeCell">
            <td class="homeCell">
                Sign in / Sign up / Sign out
            </td>
            <td class="homeCell">
                Post: &nbsp;&nbsp; -create, -view, -comment, -rate, -search;
            </td>
            <td class="homeCell">
                PostPages / Footer
            </td>
        </tr>
    </table>
</div>

{% endblock main %}