{% load static %}

<!DOCTYPE html>
<html lang="en" class="htmll">
  <head>
    <meta charset="UTF-8"/>
    <link href="{% static 'css/mycss.css' %}" type='text/css' rel='stylesheet'/>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg' %}">
    <title>{% block title %}NFT Boots{% endblock title %}</title>
  </head>
  <body class="bdy">
    {% include 'components/navbar.html' %}
    <main class="mainn">
        {% block main %}ТУТ БУДЕТ КОНТЕНТ СТРАНИЦЫ{% endblock main %}
    </main>
    {% include 'components/footer.html' %}
    <script src="{% static 'js/my.js' %}"></script>
  </body>
</html>